<!--------------- Banner ---------------->
<section class="home-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="{{ settings.small_banner_2 }}"><img src="{{ 'small-banner-1.jpg' | asset_url }}" class="img-responsive" /></a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="{{ settings.small_banner_4 }}"><img src="{{ 'small-banner-2.jpg' | asset_url }}" class="img-responsive" /></a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <a href="{{ settings.small_banner_6 }}"><img src="{{ 'small-banner-3.jpg' | asset_url }}" class="img-responsive" /></a>
      </div>
    </div>
  </div>
</section>