<!--------------- Brand ---------------->
<section class="our-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header margin-bottom-10 text-center">{{settings.brand_heading}}</h1>
      </div>
      <div class="our-brand-wrap overflow display-inline-b full-width">
        <div class="our-brand-owl">
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-1.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-2.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-3.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-4.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-5.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-6.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-7.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
          <div class="col-md-12 margin-bottom-20">
            <img src="{{ 'brand-8.png' | asset_url }}" class="img-responsive center-block" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>