<footer class="footer">
  <!--------------- Footer Top ---------------->
  <section class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!--------------- Footer Social ---------------->
          <ul class="list-inline footer-social">
            {% if settings.enable_fb_footer %}
            <li><a href="{{ settings.fb_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
            {% if settings.enable_gplus_footer %}
            <li><a href="{{ settings.gplus_link }}"><i class="fa fa-google"></i></a></li>
            {% endif %}
            {% if settings.enable_ins_footer %}
            <li><a href="{{ settings.ins_link }}"><i class="fa fa-instagram"></i></a></li>
            {% endif %}
            {% if settings.enable_pi_footer %}
            <li><a href="{{ settings.pi_link }}"><i class="fa fa-pinterest"></i></a></li>
            {% endif %}
            {% if settings.enable_tw_footer %}
            <li><a href="{{ settings.tw_link }}"><i class="fa fa-twitter"></i></a></li>
            {% endif %}
            {% if settings.enable_li_footer %}
            <li><a href="{{ settings.li_link }}"><i class="fa fa-linkedin"></i></a></li>
            {% endif %}
            {% if settings.enable_flic_footer %}
            <li><a href="{{ settings.flick_link }}"><i class="fa fa-flickr"></i></a></li>
            {% endif %}
            {% if settings.enable_dri_footer %}
            <li><a href="{{ settings.dri_link }}"><i class="fa fa-dribbble"></i></a></li>
            {% endif %}
            {% if settings.enable_you_footer %}
            <li><a href="{{ settings.you_link }}"><i class="fa fa-youtube"></i></a></li>
            {% endif %}
            {% if settings.enable_email_footer %}
            <li><a href="mailto:{{ settings.email_link }}"><i class="fa fa-envelope"></i></a></li>
            {% endif %}
          </ul>
        </div>
        {% if settings.enable_footer_newsletter %}
        <!--------------- Footer Newsletter ---------------->
        <div class="col-md-6 col-sm-6 col-xs-12 newsletter text-right">
          <form class="form-inline " action="{{ settings.default_newsletter_url }}" method="post" target="_blank">
            <div class="form-group">
              <h3 class="margin-clear padding-clear pull-left">{{ settings.footer_newsletter_header }}</h3>
              <input type="email" class="form-control" name="newsletter" id="newsletter" placeholder="your email address" required="">
              <button type="submit" class="btn btn-default">Subscribe</button>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!--------------- Footer Middle ---------------->
  <section class="footer-middle">
    <div class="container">
      <div class="row">
        {% if settings.enable_footer_description %}
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="footer-description margin-to-40">
            {{ settings.footer_description }}
          </div>
        </div>
        {% endif %}
        {% if settings.enable_footer_nav_1 %}
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h4>{{ linklists.[settings.footer_nav_1].title }}</h4>
          {% if linklists[settings.footer_nav_1] != blank %}
          <ul class="list-unstyled text-capitalize">
            {% for link in linklists.[settings.footer_nav_1].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            {% else %}
            <li>
              <p>Please select Navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
            </li>
          </ul>
          {% endif %}
        </div>
        {% endif %}
        {% if settings.enable_footer_nav_2 %}
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h4>{{ linklists.[settings.footer_nav_2].title }}</h4>
          {% if linklists[settings.footer_nav_2] != blank %}
          <ul class="list-unstyled text-capitalize">
            {% for link in linklists.[settings.footer_nav_2].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            {% else %}
            <li>
              <p>Please select Navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
            </li>
          </ul>
          {% endif %}
        </div>
        {% endif %}
        <div class="col-md-3 col-sm-3 col-xs-12 footer-img margin-to-40">
          <img src="{{ 'footer-img.png' | asset_url }}" class="img-responsive center-block" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!--------------- Footer Bottom ---------------->
  <section class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>{{ settings.copyright_text }}</p>
        </div>
        {% if settings.enable_footer_nav_3 %}
        <div class="col-md-6 col-sm-6 col-xs-12">
          {% if linklists[settings.footer_nav_3] != blank %}
          <ul class="list-inline text-right text-capitalize">
            {% for link in linklists.[settings.footer_nav_3].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            {% else %}
            <li>
              <p>Please select Navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
            </li>
          </ul>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</footer>